@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body, html{
    height:100%;
    margin:0;
    font-family:"Lato", sans-serif;
    font-weight:400;
    line-height:1.8em;
    color:#666;
  }

  h1{
    font-family: 'Poppins', sans-serif;
  }
  /* NavBar */
  .header {
    padding: 0 4.8rem;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #000000;
    border-bottom: 2px solid #F8DF8B;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
  
  .header .logo {
    height: 100%;
  }
  .logo_container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  .navbar-lists {
    display: flex;
    gap: 4.8rem;
    list-style: none;
  }
  
  .navbar-link:link,
  .navbar-link:visited {
    display: inline-block;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #476D7C;
    transition: all 0.3s;
    font-family: "Poppins", sans-serif;
  }
  
  .navbar-link:hover,
  .navbar-link:active {
   color: whitesmoke;
  }
  
  .mobile-navbar-btn {
    /* by default for normal screen we want to hide  */
    display: none;
    background: transparent;
    cursor: pointer;
    border: none;
  }
  .mobile-nav-icon[name="close-outline"] {
    display: none;
  }
  h2{
    color: darkblue;
    font-size: 2.5rem;
  }
  .power{
    color: darkred;
  }
  

  
  .para-img-1{
      background-image: url(./images/banner-img.jpg);
  }
  .para-img-2{
    background-image: url(./images/captain.jpg);
}
.para-img-3{
    background-image: url(./images/hulk-img.webp);
    min-height: 100%;
}
.para-img-4{
    background-image: url(./images/spiderman-img.jpg);
    min-height: 100%;
}
.para-img-5{
    background-image: url(./images/ironman-img.jpg);
    min-height: 100%;
}
.para-img-6{
    background-image: url(./images/hulk-img.webp);
    min-height: 100%;
}
.para-img-7{
    background-image: url(./images/Dr.strange-img.webp);
    min-height: 100%;
}
.para-img-1 , .para-img-2 , .para-img-3,.para-img-4,.para-img-5,.para-img-6,.para-img-7{
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
  }
  .center:first-child{
      display: flex;
      justify-content: center;
      align-items: flex-start;
  }
  p{
    font-size: 1.2rem;
  }
  .p-text{  
    text-align: center;
    color: rgb(0, 0, 0);
    letter-spacing: 12px;
    text-transform: uppercase;
    font-size: 2rem;
    align-items: center;
    text-shadow: rgb(255, 255, 255) 4px 2px 8px, rgb(246, 237, 71) 3px 5px 7px;
    position: relative;
    top: 89%;
  } 
  .section{
      padding: 3rem 8rem;
      text-align: center;
  }
  .util-logo{
    height: 3rem;
margin-right: 13px;
    }

  @media (max-width:1000px){
    .para-img-1 , .para-img-2 , .para-img-3,.para-img-4,.para-img-5,.para-img-6,.para-img-7{
        height: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position-y: 65px;
    }
    .header{
        height: 12%;
        padding: 0 10px;
    }
  }

  @media (max-width:800px){
    .section{
        padding: 3rem 2rem;
       
    }
   
}
    

  @media (max-width: 980px) {
    /* to make all the container with same padding  */
    
  
    html {
      font-size: 86.25%;

  }
}
@media (max-width:750px){
         .p-text{
            width: 90%;
         }
}
@media (max-width:750px){
    
     /* when we are in 980px we need to show the menu open icon */
     .mobile-navbar-btn {
        display: block;
        z-index: 99999;
        /* border: 3px solid #212529; */
        color: #212529;
      }
    
      .header .logo {
        width: 83%;
        height: 71%;
      }
    
      .navbar {
        width: 100%;
        height: 100vh;
        background: #e7f5ff;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateX(100%);
        transition: all 0.5s linear;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
      }
    
      .navbar-lists {
        flex-direction: column;
        align-items: center;
      }
    
      .navbar .navbar-lists .navbar-link:link,
      .navbar .navbar-lists .navbar-link:visited {
        color: whitesmoke;
        font-size: 2.2rem;
      }
    
      .active .navbar {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        transform: translateX(0);
        z-index: 9999;
        background-color: black;
        height: 70vh;
      }
    
      .active .mobile-navbar-btn .mobile-nav-icon[name="close-outline"] {
        display: block;
      }
    
      .active .mobile-navbar-btn .mobile-nav-icon[name="menu-outline"] {
        display: none;
      }
      .p-text{
        width: 100%;
        font-size: 1.3rem;
      }
}


@media (max-width:340px){
  .p-text{
    font-size: 1rem;
    width: 100%;
    color: white;
    letter-spacing: normal;
    text-shadow: rgba(27, 27, 27, 0.97) 7px 4px 34px;
  }
  .para-img-1{
    background-image: url(./images/banner-for-mobile.jpg);
}
.para-img-2{
    background-image: url(./images/captain-america-mobile.jpg);
}

.para-img-3{
    background-image: url(./images/hulk-mobile.jpg);
}
.para-img-4{
    background-image: url(./images/spiderMan-mobile.webp);
}
.para-img-5{
  background-image: url(./images/ironman-img-mobile.jpg);
}
.para-img-6{
 background-image: url(./images/thor-img-moble.webp);
}
.para-img-7{
 background-image: url(./images/Dr.strange-mobile.jpg);
}
 
}
  